<!-- <input type="text" [(ngModel)]="search">
<div *ngFor="let s of listResidences">
    <div *ngIf="search == s.name">
        <ul>
            <li>
                {{s.id}}
            </li>
            <li>
                {{s.name}}
            </li>
        </ul>
    </div>
</div>

<hr>
<br>
<table border = "2">
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>ADRESS</td>
        <td>IMAGE</td>
        <td>STATUS</td>
    </tr>
    <tr *ngFor = "let i of listResidences">
        <td>{{i.id}}</td>
        <td>{{i.name | uppercase}}</td>
        <td>{{i.address}}</td>
        <td><img [src]="i.image" alt="jpg" width="100" length="100"></td>
        <td>{{i.status}}</td>
    </tr>
</table> -->
<hr>
<h4>Recherche: <input type="text" [(ngModel)] = "search" > </h4>
<button class="btn btn-success" (click)="shownumber()">show number</button>
<div *ngIf="num != null">le nombre est: {{num}}</div>
<hr>
<h2>Liste des Residences</h2>
<div class="row">
    <div *ngFor="let i of searchName()" class="card" style="width: 18rem;">
        <img [src]="i.image" alt="jpg" class="card-img-top">
        <div class="card-body">
        <h4 class="card-title">{{i.name}}</h4>
        <!-- <h5 class="card-title">{{i.status}}</h5> -->

        <div [ngSwitch]="i.status">
            <p *ngSwitchCase="'Disponible'" class="status available"><i class="fa fa-check-circle"></i> Disponible</p>
            <p *ngSwitchCase="'En Construction'" class="status construction"><i class="fa fa-hourglass-half"></i> En Construction</p>
            <p *ngSwitchCase="'Vendu'" class="status sold"><i class="fa fa-times-circle"></i> Vendu</p>
            <p *ngSwitchDefault class="status unknown"><i class="fa fa-question-circle"></i> Statut Inconnu</p>
        </div>

        <p class="card-text">{{i.address}}</p>
        <a href="#" (click)="alert(i)" class="btn btn-primary">Show location</a> &nbsp;
        <button class="btn btn-success" (click)="addListFavoris(i)">{{isVerif(i) ? "Dislike":"Like"}}</button>
        <button class="btn btn-danger" (click)="deleteResidence(i.id)">Delete</button>&nbsp;
        <button class="btn btn-warning" [routerLink] = "['/detailsresidence',i.id]">show details</button>    
    </div>
    </div>
</div>
<hr>
<h2>Liste des favoris</h2>
<div class="row">
    <div *ngFor="let i of listFavoris" class="card" style="width: 18rem;">
        <img [src]="i.image" alt="jpg" class="card-img-top">
        <div class="card-body">
        <h4 class="card-title">{{i.name}}</h4>
        <h5 class="card-title">{{i.status}}</h5>
        <p class="card-text">{{i.address}}</p>
        </div>
    </div>
</div>
<hr>

